@CHARSET "UTF-8";



#header {
	height: 70px;
}

#visual {
	height: 171px;
	/* background: #313131 url("../images/bg-visual.png") no-repeat center; */
	border-top: 3px solid #8cba34;
}

#body {
	min-height: 300px;
	border-top: 5px solid #8cba34;
	margin-top: 1px;
}

.content-wrapper {
	width: 960px;
	height: inherit;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#body .content-wrapper {
	background: url("../images/bg-body.png") repeat-y center;
}

#aside {
	width: 205px;
	height: inherit;
	float: left;
}

#main {
	width: 755px;
	height: inherit;
	float: left;
	
}

#footer {
	height: 100px;
	background: #313131;
}

#quick-menu {
	width: 100%;
	height: 10px;
	position: fixed;
	left: 0;
	bottom: 0px;
}

#quick-menu:hover {
	height: 70px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#visual.content-wrapper{
	background: url("../customer/images/visual.png") no-repeat center;
}
